<%- include("partials/head", {title: "Inicio"}) %>
    <script src="/js/productEditValidation.js"></script>

    <body>
        <%- include("partials/header") %>

            <section class="container">
                <h1>Producto editado
                    <%= product.name %>
                </h1>
                <% if( typeof errors != "undefined") { %>
                <p>error</p>
                <ul>
                    <% for( let x = 0; x< errors.length; x++){ %>
                    <li>
                        <%= errors[x].msg %>
                    </li>
                    <%}  %>
                    <%} %>
                </ul>
                <div class="col-md-6 formRegistro formEdit">
                    <form action="/products/edit/<%= product.id %>" class="productForm userForm form-group" method="POST">
                                    <!-- Nombre -->
                                    <div class="divre">
                                        <input class=" form-control" type="text" name="name" id="title" value="<%= product.name %>" placeholder="Título" required/>
                                    </div>
                                    <div class="divre">
                                        <select name="brand_id" class="form-control" id="" >
                                            <% for (let i = 0; i< brand.length; i++){ %>
                                                <%if (brand[i].id == product.brand){ %>
                                                <option value="<%= brand[i].id %>" selected ><%= brand[i].name %></option>
                                                <% } else {%>
                                                    <option value="<%= brand[i].id %>"><%= brand[i].name %></option>
                                                <% } %>
                                            <% } %>

                                        </select>
                                    </div>
                                    <div class="divre">
                                        <input class="form-control" type="date" name="releaseYear" id="anio" value="<%= product.releaseYear%>" placeholder="Año" />
                                    </div>
                                    <div class="divre">
                                        <select name="brand_id" class="form-control" id="" >
                                        <% for (let i = 0; i< productCondition.length; i++){ %>
                                            <%if (productCondition[i].id == product.productCondition){ %>
                                            <option value="<%= productCondition[i].id %>" selected ><%= productCondition[i].name %></option>
                                            <% } else {%>
                                                <option value="<%= productCondition[i].id %>"><%= productCondition[i].name %></option>
                                            <% } %>
                                        <% } %>
                                            </select>
                                    </div>
                                    <div class="divre">
                                        <select name="colour_id" class="form-control" id="">
                                            <% for (let i = 0; i< colour.length; i++){ %>
                                                <%if (colour[i].id == product.colour){ %>
                                                <option value="<%= colour[i].id %>" selected ><%= colour[i].name %></option>
                                                <% } else {%>
                                                    <option value="<%= colour[i].id %>"><%= colour[i].name %></option>
                                                <% } %>
                                            <% } %>
                                            </select>
                                    </div>
                                    <div class="divre">
                                        <select name="productType_id" class="form-control" id="">
                                            <% for (let i = 0; i< productType.length; i++){ %>
                                                <%if (productType[i].id == product.productType){ %>
                                                <option value="<%= productType[i].id %>" selected ><%= productType[i].name %></option>
                                                <% } else {%>
                                                    <option value="<%= productType[i].id %>"><%= productType[i].name %></option>
                                                <% } %>
                                            <% } %>
                                            </select>
                                        <div class="divre">
                                            <select name="category_id" class="form-control" id="">
                                                <% for (let i = 0; i< category.length; i++){ %>
                                                    <%if (category[i].id == product.category){ %>
                                                    <option value="<%= category[i].id %>" selected ><%= category[i].name %></option>
                                                    <% } else {%>
                                                        <option value="<%= category[i].id %>"><%= category[i].name %></option>
                                                    <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="divre">
                                            <input class="form-control" type="number" name="stock" id="stock" value= "<%= product.stock %>" placeholder="Stock" />
                                        </div>
                                        <div class="divre precio">
                                            <input class="form-control" type="number" name="price" id="price" value= "<%= product.price %>" placeholder="Precio" /> <p>$</p>
                                         </div>
                                         <div class="divre precio">
                                            <input class="form-control" type="number" name="discount" id="discount" value= "<%= product.discount %>" placeholder="Descuento"/> <p>%</p>
                                        </div>
                                        <div class="divre">
                                            <label for="">Descripción </label><br>
                                            <textarea name="description" id="description" cols="50" rows="10"><%= product.description %></textarea>
                                        </div>
                                        <div class="divre">
                                            <input type="submit" class="enviar btn btn-warning butonregist inputRegister" value="Confirmar" />
                                            <input type="reset" class="enviar btn btn-warning butonregist inputRegister" value="Cancelar" />

                                        </div>
                            </form>
                            <form action="/products/delete/<%= product.id%>" class="eliminar" method="POST">
                                <input type="submit" class="enviar btn btn-warning butonregist" value="eliminar" />
                                </form>
                                <div class="errors">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
            </section>

            <!--FOOTER-->
            <%- include("partials/footer") %>
                <!-- /FOOTER-->

    </body>

    </html>